#nur laily -->CraftLaminasi290
1. hitunglah rata-rata penjualan dari produk kalian!
2. Di tanggal berapakah transaksi termahal terjadi?
3. Berapakah jumlah orderan terbanyak di produk kamu?
4. Berapa nilai terendah tadi total pembelian yang terjadi di bulan 10 tahun 2023?
5. Di tanggal berapa nilai harga barangmu tertinggi?

In [2]:
import pandas as pd
import numpy as np

In [56]:
#load dataset
df = pd.read_csv("data_penjualan.csv", delimiter=";")
data_craft = df[df['Jenis Produk'] == 'CraftLaminasi290']
data_craft

         Tanggal      Jenis Produk  Jumlah Order  Harga    Total
2     05/08/2022  CraftLaminasi290          5000    750  3750000
3     05/08/2022  CraftLaminasi290          1000   1200  1200000
13    11/08/2022  CraftLaminasi290          1000    850   850000
20    12/08/2022  CraftLaminasi290          3000    800  2400000
21    12/08/2022  CraftLaminasi290           500    600   300000
...          ...               ...           ...    ...      ...
1022  28/10/2023  CraftLaminasi290          1000    875   875000
1023  28/10/2023  CraftLaminasi290          1000    850   850000
1053  09/11/2023  CraftLaminasi290          2000   1600  3200000
1072  15/11/2023  CraftLaminasi290          2000    800  1600000
1073  15/11/2023  CraftLaminasi290          1500    875  1312500

[121 rows x 5 columns]

In [22]:
#1.hitunglah rata-rata penjualan dari produk
rata_rata_penjualan = data_craft['Total'].mean()
print(f"Rata-rata penjualan produk CraftLaminasi290: {rata_rata_penjualan}")

Rata-rata penjualan produk CraftLaminasi290: 2710227.272727273

In [34]:
#2.Tanggal transaksi termahal terjadi
transaksi_termahal = data_craft.loc[data_craft['Total'].idxmax()]
print(f"Tanggal transaksi termahal CraftLaminasi290 terjadi pada: {transaksi_termahal['Tanggal']}")

Tanggal transaksi termahal Craftlaminasi290 terjadi pada: 16/07/2023

In [36]:
#3.Jumlah orderan terbanyak CraftLaminasi290
orderan_terbanyak = data_craft['Jumlah Order'].max()
print(f"Jumlah orderan terbanyak untuk CraftLaminasi290 adalah: {orderan_terbanyak}")

Jumlah orderan terbanyak untuk CraftLaminasi290 adalah: 6000

In [64]:
# 4.Nilai terendah total pembelian di bulan 10 tahun 2023
df['Tanggal'] = pd.to_datetime(df['Tanggal'], format='%d/%m/%Y')
data_bulan_10_2023 = data_craft[(data_craft['Tanggal'].dt.month == 10) & (data_craft['Tanggal'].dt.year == 2023)]
if not data_bulan_10_2023.empty:
    nilai_terendah_bulan_10 = data_bulan_10_2023['Total'].min()
    print(f"Nilai terendah total pembelian CraftLaminasi290 di bulan 10 tahun 2023: {nilai_terendah_bulan_10}")
else:
    print("Tidak ada data untuk CraftLaminasi290 di bulan 10 tahun 2023.")

Nilai terendah total pembelian CraftLaminasi290 di bulan 10 tahun 2023: 850000

In [66]:
#5. Tanggal nilai harga CraftLaminasi290 tertinggi
harga_barang_tertinggi = data_craft.loc[data_craft['Harga'].idxmax()]
print(f"Tanggal harga barang tertinggi untuk CraftLaminasi290 terjadi pada: {harga_barang_tertinggi['Tanggal']}")

Tanggal harga barang tertinggi untuk CraftLaminasi290 terjadi pada: 2023-01-06 00:00:00